* {
  box-sizing: border-box;
}
.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-item {
  float: left;
  margin-left: 16px;
}
main {
  background-color: beige;
  height: 5000px;
}
.nav-list {
  height: 40px;
  margin: 0;
  color: white;
  list-style-type: none;
  line-height: 40px;
}
.head {
  background-color: brown;
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 200px / 2);
  left: calc(50% - 200px / 2);
  border-radius: 50%;
}
.ear {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: brown;
}
.eye {
  background-color: rgb(178, 222, 224);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.ear_right {
  position: absolute;
  right: 3px;
  top: -11px;
}
.ear_left {
  position: absolute;
  right: 156px;
  top: -11px;
}
.eye_right {
  position: absolute;
  top: 54px;
  right: 44px;
}
.eye_left {
  position: absolute;
  top: 54px;
  left: 44px;
}
.nose {
  position: absolute;
  border: 20px solid transparent;
  border-top-color: pink;
  width: 40px;
  height: 40px;
  top: 97px;
  right: 79px;
}
.lzr {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: 5px;
  right: 5px;
}
.rzr {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: 5px;
  left: 5px;
}
.rot {
  position: absolute;
  border-radius: 20%;
  background-color: rgb(226, 43, 89);
  height: 12px;
  width: 60px;
  top: 139px;
  left: 70px;
}
