* {
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.block {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: coral;
  margin: auto;
  animation: move 2s ease;
  animation-fill-mode: both;
}
@keyframes move {
  from {
    top: -100px;
  }
  to {
    top: calc(50vh - 50px);
  }
}
