* {
  box-sizing: border-box;
}
input {
  margin: 8px;
  display: block;
}

form {
  margin: 32px;
}
textarea {
  margin: 8px;
}
div {
  margin: 8px;
}
select {
  margin: 8px;
}
button {
  margin: 8px;
}
