header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}
footer {
  height: 40px;
  background-color: green;
  display: flex;
}
.navigation {
  margin-left: 16px;
  display: flex;
  list-style-type: none;
  padding: 0;
}
.list {
  margin-right: 16px;
}

.footer_text {
  margin: auto;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
  display: flex;
}
.dashbord {
  display: flex;
  flex-grow: 1;
  background-color: pink;
  justify-content: center;
  align-items: center;
}
.news {
  width: 200px;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.li2 {
  list-style-type: none;
  margin-left: 16px;
  height: 40px;
}
#newss {
  margin: 16px auto;
}
.news_list {
  padding: 0;
}
