* {
  box-sizing: border-box;
}
td {
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid black;
}
table {
  margin: 16px;
  border: 1px solid black;
  border-collapse: collapse;
}
.notBorder {
  border: none;
}
tr > td:first-child {
  border: none;
  background-color: white !important;
}
tr > td:last-child {
  border: none;
  background-color: white !important;
}
tr.even > td:nth-child(even) {
  background-color: black;
}
tr.odd > td:nth-child(odd) {
  background-color: black;
}
