html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-overflow: ellipsis;
  font-size: 74px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}
div {
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 200px;
}
